{% from "index.html" import content %}

<!doctype html>
<html lang="en">
<head>
    <!--Define the main page here-->
    <meta charset="UTF-8">
     <link rel="stylesheet" href="../static/FinalStyles.css" type="text/css" />
    <title>ChatMe</title>
    
<style>
/*comment out the styles for back-up purpose*/
  /* body{*/
  /*   font-size: 18px;*/
  /*   margin:0;*/
  /*   font-family: Arial, Georgia, san-serif;*/
  /*   background-color: lemonchiffon;*/
  /* }*/
   
  /* header{*/
  /*     background-color: palegreen;*/
  /*     height: 7rem;*/
  /* }*/
   
  /* h2{*/
  /*     margin-top: 3rem;*/
  /* }*/
   
  /* footer{*/
  /*   background-color: palegreen;*/
  /*    height: 7rem; */
  /*    font-size: .5rem;*/
      
  /* }*/
  /* h1{*/
  /*     color: black;*/
  /*     font-family:Tahoma, Geneva, sans-serif;*/
  /*     text-align: center;*/
  /* }*/
  /* .top{*/
  /*     display: flex;*/
  /*     justify-content: center;*/
  /* }*/
   
  /* .small{*/
  /*     color:black;*/
  /*     font-size: .8rem;*/
  /*     font-style: italic;*/
  /* }*/
   
  /* .mid{*/
  /*     margin-top: 5rem;*/
  /* }*/
   
  /* p{*/
  /*     font-size: 1rem;*/
  /* }*/
   
  /* .talk{*/
  /*     margin-bottom: 5rem;*/
  /*     text-align: center;*/
  /* }*/
   
  /* #inp {*/
  /*     width: 80vw;*/
  /*     height: 10vh;*/
       
  /* }*/
  /* button{*/
  /*     background-color: #8cb712;*/
  /*     width:98px;*/
  /*     height:42px;*/
  /*     font-size: 1rem;*/
  /*     display: block;*/
  /*     margin-left:auto;*/
  /*     margin-right: auto;*/
  /*     margin-top: .5rem;*/
  /* }*/
   
  /*fieldset{*/
  /*   background-color: powderblue;*/
  /*   margin-left:5%;*/
  /*   margin-right:5%;*/
  /*   margin-bottom: 5%; */
  /*} */
  /* img{*/
  /*     height: 20%;*/
  /*     width: 20%;*/
  /* }*/
  /* .move{*/
  /*     text-align:center;*/
  /* }*/
    /*Define the animation color changing*/
</style>
</head>
<body>
    
  <header>
      
      <div class = "top">
      <h1>  Welcome!</h1>
      </div>
      
      
  </header>  
    
    <div class = "mid">
     {% block top %}
    <h1>This is a chatting web <span class="small"> Powered by "ChatMe"</span></h1>
    <!--Defined the header of the index page--> 
     {% endblock %}
     
     <section class="talk">
     <h2>Hi, {{names}}, I am ChatMe<h2>
     <p>You may talk to me or ask me any questions. (Please do not use capital letters.)</p>
     <br>
     
     <p id="user1">You: <span id="user"></span></p>
     <p id="me1">ChatMe: <span id= "me"></span></p>
     </section>
     <!--System can respond here--> 
     
   
    <fieldset>
    <legend>Type Area:</legend>
    Please type in below:<br>
    <input type="text" id="inp" name="type" value="">
    <br>
    <button onclick="userText()"> Submit </button>
     </fieldset>
  
     <!--Type area for the users--> 
     <script src="../static/mainV4.js">
    </script>
 </div>
 <div class = "move">
 <img src = "/static/A2.png"></img>
 </div>
    <footer>
        <div class = "top">
      <h2> Copyright ChatMe 2016. All Rights Reserved</h2>  
       </div> 
    </footer>
</body>
</html>